:root {
  --primary: #8367C7;
  --secondary: #2FA8A0;
  --accent: #E86A92;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  padding: 25px;
}

.habits-list {
  list-style: none;
  padding: 0 margin-top:20px
}

.habits-item {
  background: white;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
}

.habits-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.completed {
  text-decoration: line-through;
  color: #909090
}

.custom-add-habit-btn {
  text-align: center;
  color: aqua;
  margin-bottom: 20px;
}

nav.navbar {
  background-color: var(--primary);
  color: white;
}

nav.navbar a.navbar-brand,
nav.navbar a.nav-link {
  color: white;
  text-decoration: none;
}

.content {
  margin-top: 20px;
}

btn-primary,
.btn-danger {
  padding: 5px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.custom-clear-btn {
  background-color: var(--accent);
  color: white;
  border: none;
}