:root {
  --primary: #8367C7;
  --secondary: #2FA8A0;
  --accent: #E86A92;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  color: #333;
  padding: 25px;
}

h1,
h2 {
  color: var(--primary);
}

.habits-list {
  align-items: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid;
}

.habits-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.habits-item:last-child {
  border-bottom: none;
}

.habit-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.habit-buttons{
 display: flex;
  gap: 10px;*/
  align-items: center; 
}

.completed {
  text-decoration: line-through;
  color: #909090;
}

button,
.btn {
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.btn-add {
  background-color: var(--secondary);
  color: white;
  margin-bottom: 20px;
}

.btn-edit {
  .custom-edit-btn
  background-color: var(--primary);
  color: white;
}

.btn-delete {
  background-color: var(--accent);
  color: white;
}

.habit-info input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px; 
}

@media (max-width: 600px) {
  .habits-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .habit-buttons {
    display: flex;
    gap: 10px;
  }
}