{% extends "habits/base.html" %}

{% block title %}Create / Update Habit - Habit Tracker{% endblock %}

{% block content %}
<h2>{% if habit %}Edit Habit{% else %}Add New Habit{% endif %}</h2>

<form method="POST">
  {% csrf_token %}

  {# Habit Title #}
  <div class="mb-3">
    <label for="habits-title" class="form-label">Habit Title</label>
    <input type="text" name="title" id="habits-title" class="form-control" value="{{ habit.title|default:'' }}"
      required>
  </div>

  {# Habit Description #}
  <div class="mb-3">
    <label for="habits-description" class="form-label">Description</label>
    <textarea name="description" id="habits-description" class="form-control" required>
      {{ habit.description|default:'' }}
    </textarea>
  </div>

  {# Frequency #}
  <div class="mb-3">
    <label for="habits-frequency" class="form-label">Frequency</label>
    <select name="frequency" id="habits-frequency" class="form-control" required>
      <option value="daily" {% if habit and habit.frequency=='daily' %}selected{% endif %}>Daily</option>
      <option value="weekly" {% if habit and habit.frequency=='weekly' %}selected{% endif %}>Weekly</option>
      <option value="monthly" {% if habit and habit.frequency=='monthly' %}selected{% endif %}>Monthly</option>
    </select>
  </div>

  {#Completed Today #}
  <div class="form-check">
    <input type="checkbox" name="completed_today" id="habits-completed" class="form-check-input" {% if habit and
      habit.completed_today %}checked{% endif %}>
    <label for="habits-completed" class="form-check-label">Completed Today</label>
  </div>

  {# Submit Button #}
  <button type="submit" class="btn btn-primary">
    {% if habit %}Update Habit{% else %}Save Habit{% endif %}
  </button>
</form>

{% endblock %}