{% extends "habits/base.html" %}

{% block title %}Home - Habit Tracker{% endblock %}

{% block content %}
<h2>Your habits</h2>

<!-- Add Habit Button -->
<a href="{% url 'habits_create' %}" class="btn btn-success mb-3">Add Habit</a>

<!-- Habits list -->
{% if habits %}
<ul class="habits-list">
  {% for habit in habits %}

  <li class="habits-item">
    <!--checklist-->
    <label class="habits-checkbox"> 
      <input type="checkbox" id="habits-{{ habit.id }}" {% if habit.completed_today %}checked{% endif %}>
      <span class="{% if habit.completed_today %}completed{% endif %}">{{ habit.title }}</span>
    </label>

    <!-- Edit Habit -->
    <a href="{% url 'habits_update' habit.pk %}" class="btn btn-primary btn-sm">Edit</a>

    <!-- Delete Habit-->
    <a href="{% url 'habits_delete' habit.pk %}">class= class="btn btn-danger btn-sm delete</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No habits yet! <a href="{% url 'habits_create' %}">Add a habit</a></p>
{% endif %}
<!-- Clear Habits Button -->
<a href="{% url 'habits_clear_completed' %}">Clear Completed Habits</a>

{% endblock %}