{% extends "habits/base.html" %}
{% block title %}Register - Habit Tracker{% endblock %}

{% block content %}
<h2>Create an Account</h2>
<form method="POST">
  {% csrf_token %}

  {% if form.non_field_errors %}
  <div class="alert alert-danger"></div>
  {{ form.non_field_errors }}
  </div>
  {% endif %}

  {% for field in form %}
  <div class="mb-3">

    <!--field label-->
    <label class="form-label">{{ field.label }}</label>

    <!-- Actual Input Field -->
    {{ field }}

    {% if field.errors %}
    <div class="text-danger small">
      {{ field.errors }}
    </div>
    {% endif %}

  </div>
  {% endfor %}

  !-- Submit Button -->
  <button type="submit" class="btn btn-success">Register</button>
</form>