body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* space between navbar and content */
.content {
    padding: 20px;
}
/* habits items */
ul.habits-list {
    list-style-type: none;
    padding: 0;
}
li.habits-item {
    margin-bottom: 10px; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}
.habits-checkbox {
    display: flex;
    align-items: center;
}
