:root {
  /* Primary Color Palette */
  --background-color: #FAD0C9;
  --text-color: #2C3E50;

  /* Secondary Color Palette */
  --button-color: #1ABC9C;
  --button-hover: #1F7A6D;
  --highlight-color: #FFFFFF;
}