body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Style for navbar */
nav {
    padding: 10px; 
}

nav ul {
    list-style-type: none; 
    display: flex; 
    margin: 0;
}
