body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* space between navbar and content */
.content {
    padding: 20px;
}
/* Task list items */
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px; 
}
/* Input fields and buttons */
input, button {
    padding: 5px 10px;
    margin: 10px 0;
    display: block; }
