body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Style for navbar */
nav {
    background-color: black;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style-type: none; 
    display: flex; 
    margin: 0;
    padding:0;
    gap:20px; 
}

nav ul li a {
    color:white;
    text-decoration: none; 
    padding: 5px 10px; 
}

nav ul li a:hover{
    text-decoration:underline ;
}

/* space between navbar and content */
.content {
    padding: 20px;
}
/* Task list items */
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px; 
}
/* Input fields and buttons */
input, button {
    padding: 5px 10px;
    margin: 10px 0;
    display: block; }
